.nav-link {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Verdana;
    background-color: orangered;
  }
  
  nav li {
    padding: 0 18px;
  }
  
  nav li.active, nav li.active:before {
    background-color: rgb(255, 176, 6);
    border-radius: 5px;
  }
  
  
  .collapse{
    background-color: orangered;
  }
  .dropdown-item {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Verdana;
    background-color: rgb(255, 145, 0);
  }
  header {
    background-color: #595b5c;
  }
  body{
      background-color: cadetblue;
  }